* {
text-align: center;
font-size: smaller;
}
.number {
text-align: right;
}
.title {
text-align: left;
}
.preview {
	width: 200px;
	height: 10px;
	overflow: hidden;
	display: block;
	text-align: left;
}
.warning {
color: #f00;
font-weight: bold;
}
.anchor {
	background-color: #ddd;
	font-weight: bold;
}
.anchor, .referer {
	width: 200px;
	height: 12px;
	overflow: hidden;
}
table {
border: 1px solid #ccc;
margin: 0 auto;
}
tr:nth-child(even) {
	background-color: #f8f8f8;
}

#nav {
	width: 140px;
	padding: 6px;
	margin: 4px;
	float: left;
	position: absolute;
	top: 0;
	border: 1px solid #ddd;
	background-color: #eee;
	-webkit-border-radius : 10px;
}
#nav ul {
	list-style: none;
	padding: 0;
}